.container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 0 2em;
}

.img-container {
    flex-basis: 6%;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

ul {
    flex-basis: 94%;
    display: flex;
    gap: 2em;
    margin-left: 2em;
}

ul li {
    display: block;
}

ul li a {
    font-size: 1.5em;
    font-family: Bebas Neue;
    text-decoration: none;
    color: black
}

ul li a:hover {
    font-size: 2em;
    letter-spacing: 0.3em;
    transition: 0.3s ease-in-out
}

.logout {
    cursor: pointer;
}

li.right-container {
    margin-left: auto;
}

li.right-container a.purchaseBasket {
    margin: 0 1em;
}

li.right-container a.messages,
li.right-container a.profile {
    margin-right: 1em;
}