<app-loader *ngIf="isLoading" />

<section *ngIf="isEmptyCollection && !isLoading" class="emptyCollectionContainer">
    <p class="message">No sunglasses yet</p>
    <span *ngIf="isAuthenticated" class="create"><a class="createLink" routerLink="/sunglasses/create">Create</a></span>
</section>


<section *ngIf="!isEmptyCollection && !isLoading" class="collectionContainer">
    <article *ngFor="let sunglasses of sunglassesCollection" class="sunglasses">
        <div class="img-container">
            <img src="{{sunglasses.imageUrl}}" alt="sunglasses-image">
        </div>

        <div class="content">
            <p class="brand-and-model">{{sunglasses.brand}} {{sunglasses.model}}</p>
            <p class="price">{{sunglasses.price}}€</p>
            <span class="details"><a class="detailsLink"
                    [routerLink]="['/sunglasses/catalog', sunglasses._id]">Details</a></span>
        </div>
    </article>
</section>