<section class="details-container">
    <article class="img-container">
        <img src="{{sunglassesDetails?.imageUrl}}" alt="sunglasses-image">
    </article>

    <article class="sunglasses-details">
        <p class="brand-and-models">{{sunglassesDetails?.brand}} {{sunglassesDetails?.model}}</p>
        <p class="price">Price: {{sunglassesDetails?.price}}€</p>

            <form *ngIf="isAuthenticated" #form="ngForm" (ngSubmit)="buySunglassesHandler(form)">
                <label for="quantity">Quantity:</label>
                <input
                type="number"
                class="quantity"
                id="quantity"
                name="quantity"
                min="1"
                [ngModel]="defaultQuantity"
                #inputQuantity="ngModel"
                required
                >
                <button 
                class="buy-button"
                [disabled]="form.invalid"
                >BUY</button>
            </form>



        <details class="sunglasses-description">
            <summary>Sunglasses description</summary>

            <p>Gender: {{sunglassesDetails?.gender}}</p>
            <p>Shape: {{sunglassesDetails?.shape}}</p>
            <p>Frame color: {{sunglassesDetails?.frameColor}}</p>
            <p>Glass color: {{sunglassesDetails?.glassColor}}</p>
        </details>


    </article>
</section>