section.details-container {
    display: flex;
    gap: 2em;
    max-width: 80em;
    margin: 2em auto;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

article.img-container {
    flex-basis: 50%;
}

article.sunglasses-details {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Bebas Neue;
    font-size: 1.5em;
    text-align: center;
}

p.brand-and-models {
    font-size: 2em;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 1em;
}

input.quantity {
    width: 2em;
    height: 100%;
    border-color: black;
}

span.edit{
    display: inline;
}

button.buy-button,
a.edit-link,
button.delete {
    display: inline-block;
    text-decoration: none;
    font-size: 1.2em;
    font-family: Bebas Neue;
    color: black;
    padding: 0.3em 1.5em;
    border: 1px solid black;
}

button.buy-button:hover,
a.edit-link:hover,
button.delete:hover {
    background: black;
    color: white;
    font-size: 1.5em;
    letter-spacing: 0.3em;
    transition: 0.3s ease-in-out
}

div.edit-delete {
    display: flex;
    gap: 1em;
    justify-content: center;
}

button.buy-button:disabled {
    background-color: light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3));
    color: light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
    border-color: light-dark(rgba(118, 118, 118, 0.3), rgba(195, 195, 195, 0.3));
}

button.buy-button:disabled:hover {
    background: grey;
    color: white;
    letter-spacing: 0.3em;
    transition: 0.3s ease-in-out
}

details.sunglasses-description {
    margin-top: 1em;
}

details.sunglasses-description p {
    font-size: 0.8em;
}