section.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Bebas Neue;
    gap: 1em;
    max-width: 25em;
    margin: 10.5em auto;
    padding: 2em 0;
    border: 1px solid black;
    border-radius: 1em;
}

section.profile-info h1 {
    font-size: 2.5em;
}

section.profile-info p {
    font-size: 1.5em;
}