<app-loader *ngIf="isLoading" />

<section *ngIf="!isCompletedPurchases && !isLoading" class="emptyCollectionContainer">
    <p class="message">No completed purchase yet</p>
    <span class="home"><a class="homeLink" routerLink="/home">Home</a></span>
</section>

<table *ngIf="isCompletedPurchases && !isLoading">
    <thead>
        <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
            <th>Buyer</th>
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let sunglasses of completedPurchases">
            <td>{{sunglasses.sunglassesDetails.brand}}</td>
            <td>{{sunglasses.sunglassesDetails.model}}</td>
            <td>{{sunglasses.quantity}}</td>
            <td>{{sunglasses.sunglassesDetails.price}}€</td>
            <td>{{sunglasses.totalPrice}}€</td>
            <td>{{sunglasses.buyerEmail}}</td>
        </tr>
    </tbody>
</table>